prometheus.exporter.unix "default" {
}

prometheus.scrape "default" {
  targets = prometheus.exporter.unix.default.targets
  forward_to = [prometheus.remote_write.default.receiver]
}

prometheus.remote_write "default" {
  endpoint {
    url = "http://{{ hostvars[groups['monitoring'][0]]['ansible_host'] }}:9090/api/v1/write"
  }
}