[Unit]
Description=Flask Application Service
After=network.target ollama.service
[Service]
ExecStart=/usr/bin/python3 {{ app_path }}
Restart=always
User=ubuntu
StandardOutput=append:{{ flask_log }}
StandardError=append:{{ flask_log }}
[Install]
WantedBy=multi-user.target